<h1>Zoo: <%=@zookeeper.zoo%></h1>

<h3>These animals live in this zoo:</h3>
<ul>
  <%@zookeeper.animals.each do |animal|%>
  <li><a href="/animals/<%= animal.id %>"><%= animal.animal_type.capitalize%></a></li>
  <%end%>
</ul>
<br>

<% if logged_in? %>
<a href="/animals/new"><button class="btn">Add a new animal</button></a>
<% end %>

<br><br><br>
<a href="/zoos"><button class="btnhome">All our ZOOs</button></a>
<a href="/animals"><button class="btnhome">All our animals</button></a>
<a href="/"><button class="btnhome">Homepage</button></a>


