<h1>Hello! Log in here (for zookeepers only)</h1>
<p>* If you represent a ZOO not listed on our website and would like to add it to our database, please contact us at <strong>newzoo@zoopedia.com</strong></p>
<br>
<form method="POST" action="/login">
    Username: <input type="text" name="username" placeholder="username"><br />
    <br>
    Password: <input type="password" name="password" placeholder="password"><br />
    <br>
    <input type="submit" value="Log in">
</form>