<h1>Hello! Sign up here (for zookeepers only)</h1>
<p>* If you represent a ZOO not listed on our website and would like to add it to our database, please contact us at <strong>newzoo@zoopedia.com</strong></p>
<br>
<form method="POST" action="/sessions/signup">
    Zoo: <input type="text" required="required" name="zoo" placeholder="zoo"><br />
    <br>
    Username: <input type="text" required="required" name="username" placeholder="username"><br />
    <br>
    Email: <input type="email" required="required" name="email" placeholder="email"><br />
    <br>
    Password: <input type="password" required="required" name="password" placeholder="password"><br />
    <br>
    <input type="submit" value="Sign up">
</form>

<br><br><br>
<a href="/zoos"><button>All our ZOOs</button></a>
<a href="/animals"><button>All our animals</button></a>
<a href="/"><button>Homepage</button></a>
