<h1>Zookeepers:</h1>
<ul><% @zookeepers.each do |zookeeper|%>
<li><a href="/zookeepers/<%= zookeeper.id %>"><%= zookeeper.username %></a> - <a href="/zookeepers/<%= zookeeper.id %>"><%= zookeeper.zoo %></a></li>
<% end %>
</ul>

<br><br>
<a href="/animals"><button>All our animals</button></a>
<a href="/"><button>Homepage</button></a>